.accordion-button:not(.collapsed) {
  background-color: #ffff !important;
  box-shadow: inset 0 calc(-1 * #0dba4b) 0 #0dba4b !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #0dba4b !important;
  outline: 0;
  box-shadow:  #0dba4b !important;
}

.accordion-button {
  z-index: 3;
  border-color: #0dba4b !important;
  outline: 0;
  box-shadow:  none !important;
}